<mat-card class="w-100">
  <mat-card-title class="text-center">Registro</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="signUp()">

    <div class="row g-2">
      <div class="col-12 col-lg-4">
        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="nombre" placeholder="Nombre" required>
          <button *ngIf="form.get('nombre')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.get('nombre')?.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-4">
        <mat-form-field class="w-100">
          <mat-label>Apellido paterno</mat-label>
          <input type="text" matInput formControlName="apellido_paterno" placeholder="Apellido paterno" required>
          <button *ngIf="form.get('apellido_paterno')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.get('apellido_paterno')?.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-4">
        <mat-form-field class="w-100">
          <mat-label>Apellido materno</mat-label>
          <input type="text" matInput formControlName="apellido_materno" placeholder="Apellido materno" required>
          <button *ngIf="form.get('apellido_materno')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.get('apellido_materno')?.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-6">
        <mat-form-field class="w-100">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput formControlName="user" placeholder="Usuario" required>
          <button *ngIf="form.get('user')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.get('user')?.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-6">
        <mat-form-field class="w-100">
          <mat-label>Contraseña</mat-label>
          <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password"
            placeholder="Contraseña" required>
          <button *ngIf="form.get('password')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.get('password')?.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
          <button *ngIf="form.get('password')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="showPassword = !showPassword;">
            <mat-icon *ngIf="!showPassword">visibility</mat-icon>
            <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-auto">
        <a href="#" class="text-decoration-none" routerLink="../log-in">Iniciar sesión</a>
      </div>

      <div class="col-auto">
        <button type="submit" mat-raised-button color="primary">Registrarse</button>
      </div>
    </div>
  </form>
</mat-card>